NYP_Framework_SOLUTION/Base/Debug/
NYP_Framework_SOLUTION/Common/Debug/
NYP_Framework_SOLUTION/Debug/Common.lib
NYP_Framework_SOLUTION/Debug/Base.exe
NYP_Framework_SOLUTION/Debug/Common.pdb
NYP_Framework_SOLUTION/Debug/Base.pdb
NYP_Framework_SOLUTION/NYP_Framework.VC.VC.opendb
NYP_Framework_SOLUTION/NYP_Framework.VC.db
